@import url("main.css");

main {
  margin-top: 120px;
}

.big_cont {
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 20px;
  margin-top: 50px;
}

.cart_container {
  width: 100%;
  min-height: 400px;
  border: 1px dashed var(--bord);
  background-color: #04081e;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.checkout_cont {
  width: 100%;
  min-height: 400px;
  border: 1px dashed var(--bord);
  background-color: #04081e;
  padding: 20px;
  position: sticky;
  top: 100px;
}

header {
  width: 100%;
}

header h1 {
  font-size: 50px;
  color: var(--w);
}

header p {
  color: var(--lt);
}

.line {
  content: "";
  width: 100%;
  height: 0.5px;
  background-color: var(--bord);
  margin-top: 30px;
}

.cart_container .box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box h1 {
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--lt);
}

.cart_container .box i {
  font-size: 30px;
  margin-right: 20px;
}

/* !card */
.card {
  display: grid;
  grid-template-columns: 200px 1fr auto;
  gap: 30px;
  border: 1px solid var(--bord);
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.info {
  display: grid;
  grid-template-rows: auto auto auto 1px auto;
  gap: 15px;
}

.title_field h1 {
  font-size: 20px;
  color: var(--w);
  text-transform: uppercase;
  font-weight: bold;
}

.title_field p {
  color: var(--lt);
  font-size: 12px;
  margin-top: 5px;
}

.ratings_field {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.ratings_field .sub_f {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ratings_field .sub_f p {
  color: var(--lt);
  font-size: 11px;
  text-transform: uppercase;
}

.ratings_field .sp_cont {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--nb);
  font-weight: bold;
  font-size: 12px;
}

.ratings_field .sp_cont i {
  color: #fbbf24;
}

.price_field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.price_field p {
  color: var(--lt);
  font-size: 12px;
  text-transform: uppercase;
}

.price_field span {
  color: var(--w);
  font-size: 16px;
  font-weight: bold;
}

.pr_bef_disc{
  font-size: 10px;
  color: var(--lt);
  text-decoration: line-through;
  text-decoration-color: red;
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--bord);
}

.last_field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.last_field .sub_f {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.last_field .sub_f p {
  color: var(--lt);
  font-size: 12px;
  text-transform: uppercase;
}

.last_field .sub_f span {
  color: var(--nb);
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}

.last_field .sub_f span.qty_number {
  font-size: 16px;
}

.qunatity_cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--bord);
  padding: 5px 0px;
  background-color: var(--lbg);
}

.qty_btn {
  background: none;
  border: none;
  color: var(--lt);
  cursor: pointer;
  padding: 2px 10px;
  transition: color 0.3s;
  font-size: 18px;
}

.qty_btn.decr {
  border-right: 2px solid var(--bord);
}

.qty_btn.incr {
  border-left: 2px solid var(--bord);
}

.qty_btn:hover {
  color: #22d3ee;
}

.qty_number {
  color: #22d3ee;
  font-weight: bold;
  text-align: center;
}

.card{
  position: relative;
}

.remove_pr{
  position: absolute;
  top: 15px;
  right: 15px;
  color: var(--lt);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.remove_pr:hover{
  color: rgb(231, 99, 99);
}