@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --lbg: #0f172a; /*light bg*/
  --nb: #22d3ee; /*neon blue*/
  --bord: #1e293b;
  --w: #f1f5f9;
  --lt: #64748b; /*light text*/
  --body:#020617;
  --np:#DB2777; /*neon pink*/
  --sy:#CBA819;/*star yellow*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 1.4px;
}

body {
  height: 100vh;
  position: relative;
  background-color: #020617;
  color: #fff;
  padding-inline: 200px;
}

/*! NAVBAR*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  box-shadow: 0 0.2px 0 0 var(--nb);
  background-color: #020617;
  z-index: 9999999;
}

nav .icon_area {
  display: flex;
  align-items: center;
  gap: 20px;
}

span.icon {
  color: #22d3ee;
  font-size: 24px;
  padding: 8px;
  box-shadow: 0 0 0 0.3px var(--nb);
  background-color: var(--lbg);
}

nav .search_bar {
  background-color: var(--lbg);
  width: 500px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 10px;
  border: 1px solid var(--bord);
}

.search_bar:focus-within {
  box-shadow: 0 0 0 0.5px var(--nb);
}

.search_bar:focus-within i {
  color: var(--nb);
}

.search_bar input {
  background: none;
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
  color: var(--w);
}

.search_bar input::placeholder,
.search_bar i {
  color: var(--lt);
}

nav .left_side {
  display: flex;
  align-items: center;
  gap: 30px;
}

.left_side button {
  padding: 10px 30px;
  background-color: #0f1322;
  border: none;
  color: var(--w);
  border: 1px solid var(--bord);
  font-size: 12px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.left_side button:hover{
    filter: brightness(1.5);
}

.left_side span {
  font-size: 20px;
  color: #f1f5f9;
  background-color: var(--lbg);
  padding: 12px;
  border: 1px solid var(--bord);
}

nav span {
  cursor: pointer;
  transition: all 0.2s ease-out;
}

nav span.i_anim:hover {
  color: var(--nb);
  box-shadow: 0 0 0 1px var(--nb);
}

/* ! AUTHROISATION FORMS */
.auth_form {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000000;
}

.auth_window {
  background: var(--lbg);
  width: 400px;
  padding: 30px;
  position: relative;
}

.close_auth {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.2s ease;
}

.close_auth:hover{
  color: var(--nb);
}

.auth_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

.auth_content h2{
  font-size: 24px;
}

.auth_content p{
  font-size: 14px;
  color: var(--lt);
  margin-bottom: 20px;
}

.input_area{
  width: 100%;
  background-color: var(--body);
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border: 1px solid var(--bord);
}

.input_area i{
  color: var(--lt);
  font-size: 16px;
}

.input_area input{
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 15px;
  background: none;
  outline: none;
  border: none;
  color: var(--w);
}

.input_area input::placeholder{
  color: var(--lt);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--w) !important;
  transition: background-color 9999s ease-in-out 0s;
}

form #loginBtn,#signupBtn{
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
  padding: 12px 40px;
  border: none;
  background-color:var(--nb);
  cursor: pointer;
}

#loginBtn:hover,#signupBtn:hover{
  filter: brightness(0.8);
}

#goSignup, #goLogin{
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

#goSignup:hover,#goLogin:hover{
  filter: brightness(2);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.gender_area {
  position: relative;
}

.input_area select {
  width: 100%;
  height: 100%;
  padding: 10px 40px 10px 15px; 
  background: none;
  color: var(--lt);
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  appearance: none; 
}

.gender_area .fa-chevron-down{
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--lt); 
  font-size: 12px;
}


.input_area select option {
  background-color: var(--body);
  color: var(--w);
}

.auth_error{
  font-size: 12px;
}

#btn_auth:disabled{
  pointer-events: none;
}

#btn_auth {
  font-size: 16px;
}